.login-page {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/images/finale.png"); /* même fond que Register */
  background-size: cover;
  background-position: center;
  filter: blur(12px);
  z-index: 1;
}

.login-page > * {
  position: relative;
  z-index: 2;
}

.custom-btn {
  background-color: #001f3d;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #003366;
}
