<div class="register-page d-flex flex-row align-items-center min-vh-100">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="register-card shadow-lg">
          <c-card-body class="p-4">
            <form cForm>
              <div class="text-center mb-4">
                <h1 class="title">Create Account</h1>
              </div>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText><svg cIcon name="cilEnvelopeClosed"></svg></span>
                <input autoComplete="email" cFormControl placeholder="Email" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Password" type="password" />
              </c-input-group>

              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl placeholder="Repeat Password" type="password" />
              </c-input-group>

              <div class="d-grid">
                <button type="submit" cButton class="btn custom-btn">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
